.Input,
.textarea,
.select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-label {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.select-info {
  line-height: 1.6;
  font-size: 1.2rem;
}
