.text-container {
  width: 50vw;
  font-size: 2rem;
  line-height: 1.6;
  box-shadow: 5px 5px 20px gray;
  border-radius: 10px;
  padding: 2rem;
}

.show-btn {
  border: 1px solid transparent;
  background: transparent;
  color: blue;
  font-weight: bold;
  cursor: pointer;
  margin-left: 1rem;
}
