.products {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(190, 245, 255, 0.637);
  height: 100vh;
  width: 100vw;
  margin-top: 7rem;
}

.btn {
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: #5cffc9e7;
  border: 0.2rem solid #318858;
  border-radius: 1rem;
  color: black;
}

.btn:hover {
  background: #5cffc983;
}
