/* .btn {
  cursor: pointer;
  margin: 1rem 5rem;
  padding: 1rem;
  font-size: 3rem;
  font-weight: bold;
  background: #22072ae7;
  border: 0.5rem solid #22072a;
  border-radius: 1rem;
  color: rgb(211, 211, 211);
}

.btn:hover {
  background: #22072ac9;
}

.btn--icon {
  padding-right: 0.5rem;
} */

.btn {
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: #5cffc9e7;
  border: 0.2rem solid #318858;
  border-radius: 1rem;
  color: black;
}

.btn:hover {
  background: #5cffc983;
}

.btn--category {
  background: #5cfff7e7;
  border: 0.2rem solid #316588;
}

.btn--category:hover {
  background: #37a39e4d;
}
