.dice-container {
  perspective: 100rem;
  perspective-origin: 50% 50%;
}

.dice-container .dice {
  height: 10vmin;
  width: 10vmin;
  position: relative;
  left: 0%;
  transform-style: preserve-3d;
  margin: 2rem;
}

.dice-animation-0 {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.dice-animation-1 {
  transform: rotateX(-310deg) rotateY(-362deg) rotateZ(-38deg);
  transition: 1s linear;
  animation: animate-roll-dice 1.4s linear;
}

.dice-animation-2 {
  transform: rotateX(-133deg) rotateY(-360deg) rotateZ(-53deg);
  transition: 1s linear;
  animation: animate-roll-dice 1.4s linear;
}

.dice-animation-3 {
  transform: rotateX(-400deg) rotateY(-320deg) rotateZ(-2deg);
  transition: 1s linear;
  animation: animate-roll-dice 1.4s linear;
}

.dice-animation-4 {
  transform: rotateX(135deg) rotateY(-217deg) rotateZ(-88deg);
  transition: 1s linear;
  animation: animate-roll-dice 1.4s linear;
}

.dice-animation-5 {
  transform: rotateX(-47deg) rotateY(-219deg) rotateZ(-81deg);
  transition: 1s linear;
  animation: animate-roll-dice 1.4s linear;
}

.dice-animation-6 {
  transform: rotateX(-224deg) rotateY(-317deg) rotateZ(5deg);
  transition: 1s linear;
  animation: animate-roll-dice 1.4s linear;
}

.dice-container .dice div {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0.3rem solid #22072a;
  overflow: hidden;
}

.dice--num {
  font-size: 7.5rem;
  color: rgb(228, 227, 227);
}

.dice-container .dice .dice--front {
  background: #22072a;
  transform: translateZ(-2.8rem);
}

.dice-container .dice .dice--back {
  background: #22072a;
  transform: translateZ(-10rem) rotateY(180deg);
}

.dice-container .dice .dice--right {
  background: #22072a;
  transform-origin: top right;
  transform: rotateY(-270deg) translateX(10rem);
}

.dice-container .dice .dice--left {
  background: #22072a;
  transform-origin: center left;
  transform: rotateY(270deg) translateX(-10rem);
}

.dice-container .dice .dice--top {
  background: #22072a;
  transform-origin: top center;
  transform: rotateX(-270deg) translateY(-10rem);
}

.dice-container .dice .dice--bottom {
  background: #22072a;
  transform-origin: bottom center;
  transform: rotateX(270deg) translateY(10rem);
}

@keyframes animate-roll-dice {
  25% {
    transform: rotateX(45deg) rotateY(65deg) rotateZ(35deg);
    top: 0%;
  }
  50% {
    transform: rotateX(145deg) rotateY(165deg) rotateZ(135deg);
    top: 30%;
  }
  75% {
    transform: rotateX(276deg) rotateY(256deg) rotateZ(246deg);
    top: 45%;
  }
  100% {
    transform: rotateX(376deg) rotateY(356deg) rotateZ(346deg);
    top: 60%;
  }
}
