.Input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem;
}

.input--label,
.input--info {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}

.input--info {
  border: 0.3rem solid #22072a;
  border-radius: 1rem;
  padding: 1rem;
}

.btn {
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: #5cffc9e7;
  border: 0.2rem solid #318858;
  border-radius: 1rem;
  color: black;
}

.btn:hover {
  background: #5cffc983;
}
