/* body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 45vw;
  margin: 1rem;
  box-shadow: 5px 5px 20px gray;
  border-radius: 10px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-play {
  background: url("./img/icons8-play-64.png") no-repeat center center/cover;
}

.btn-pause {
  background: url("./img/icons8-pause-64.png") no-repeat center center/cover;
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  min-height: 70vh;
  overflow: hidden;
  margin: 1rem;
  padding: 3rem;
  box-shadow: 5px 5px 20px gray;
  border-radius: 10px;
  text-align: center;
} */

/* .btn__container--category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 0.2rem solid black;
  padding: 1rem;
  margin-top: 1rem;
} */

/* .errMsg {
  color: rgb(197, 1, 1);
} */

/* 
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: #5cffc9e7;
  border: 0.2rem solid #318858;
  border-radius: 1rem;
  color: black;
}

.btn:hover {
  background: #5cffc983;
} */

.btn {
  cursor: pointer;
  margin: 1rem;
  width: 5rem;
  height: 5rem;
  border: 0.2rem solid transparent;
}

.btn:hover {
  margin: 0.5rem;
  width: 5.5rem;
  height: 5.5rem;
}
